<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title>Report Incident - Address</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h4>Address Information: </h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-item>
              <ion-label position='floating'>Road Name/No.</ion-label>
              <ion-input [(ngModel)]="address.road"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position='floating'>Area</ion-label>
              <ion-input [(ngModel)]="address.area"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position='floating'>Landmark</ion-label>
              <ion-input [(ngModel)]="address.landmark"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position='floating'>City</ion-label>
              <ion-input [(ngModel)]="address.city"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position='floating'>Latitude</ion-label>
              <ion-input [(ngModel)]="location.latitude"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position='floating'>Longitude</ion-label>
              <ion-input [(ngModel)]="location.longitude"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="ion-float-right" (click)="next();">Next</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-content>
  