<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Report Incident - Image</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h4>Capture Image</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!--camera-->
        <ion-img [src]="imageData" class="captured-image"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="ion-float-right" (click)="next();">Next</ion-button>
        <ion-button class="ion-float-right" (click)="takePicture();" color="light">Retake</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
